/* ---Wrapper--- */

#scibloger_outline_wrapper{
  position:fixed;
  height: 40px;
  width: 40px;
}
#scibloger_outline_wrapper .trigger{
  height: 30px;
  width: 30px;
  border-radius:50%;

  font-size: 16px;
  font-weight: bold;
  text-align: center;
  line-height: 30px;

  /* Animation */
  visibility: visible;
}
#scibloger_outline_wrapper.pop .trigger{
  visibility: collapse;
}

/* ---Items--- */

#scibloger_outline_wrapper li {
  float: none;
  position: relative;
}
#scibloger_outline_wrapper a {
  float: none;
  display: block;
  position: relative;

  /* Text */
  line-height: 1;
  font-size: 100%;
  font-weight: normal;
  white-space: nowrap;  
  text-decoration: none;
  
  /* Item appearance */
  /* color: #ffffff; */
  border-radius: 0.8em;
  height: 1.718em;
  line-height: 1.618em;
  padding: 0.05em 0.8em 0.05em 0.8em;
}
#scibloger_outline_wrapper a:hover{
  background: rgba(0,0,0,0.1); 
}

/* ---Lists--- */

#scibloger_outline_wrapper ul{
  /* Overwrite appearance */
  list-style: none outside none;
  margin:  0;
  padding: 10px;
  border:  0;
  border-radius: 15px;
  overflow-x: hidden;
  overflow-y: auto;

  /* Init position */
  top: -9999px;
  right: -9999px;
  overflow: visible;
  position: absolute;

  -moz-transform: scaleY(0);
  -ms-transform: scaleY(0);
  -o-transform: scaleY(0);
  -webkit-transform: scaleY(0);
  transform: scaleY(0);

  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;

  -moz-transition: -moz-transform 0.1s ease-out;
  -ms-transition: -ms-transform 0.1s ease-out;
  -o-transition: -o-transform 0.1s ease-out;
  -webkit-transition: -webkit-transform 0.1s ease-out;
  transition: transform 0.1s ease-out;
}

#scibloger_outline_wrapper ul > li > a {
  color: rgba(255, 255, 255);
}

#scibloger_outline_wrapper.pop ul.l1 {
  right: 0px;
  top: 0px;

  -moz-transform: scaleY(1);
  -ms-transform: scaleY(1);
  -o-transform: scaleY(1);
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}

#scibloger_outline_wrapper ul.pop{
  right: 100%;
  top: -5px;
  margin-right: -5px;

  -moz-transform: scaleY(1);
  -ms-transform: scaleY(1);
  -o-transform: scaleY(1);
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}

