/* Toggle button appearance */
#scibloger_outline_wrapper .trigger{
  background: rgb(0, 174, 239);
  color: #fff;
}

/* Hover item appearance*/
#scibloger_outline_wrapper a:hover{
  background: rgba(0,0,0,0.2); 
}

/* Text color*/
#scibloger_outline_wrapper ul > li > a {
  color: rgb(255, 255, 255);
}

/* Level 1 */
#scibloger_outline_wrapper.pop ul.l1 {
  background: rgb(234, 66, 138);
}

/* Level 2 */
#scibloger_outline_wrapper ul.l2.pop{
  background: rgb(127, 206, 15);
}

/* Level 3 */
#scibloger_outline_wrapper ul.l3.pop{
  background: rgb(245, 167, 13);
}

/* Level 4 */
#scibloger_outline_wrapper ul.l4.pop{
  background: rgb(153, 98, 193);
}

